.products {
    width: 100%;
    height: auto;
}

/* .products .avatar-big-box {
    display: flex;
    flex-direction: row;
} */

.products .avatar-big-box .search-button {
    margin-top: 77px;
    margin-right: 15px;
    width: 360px;
    height: 35.68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 18.5px;
    box-shadow: 0px 4px 4px 0px rgba(213, 213, 213, 0.25);
    background: rgb(255, 252, 252);
}

.products .avatar-big-box .search-button .search-field {
    margin-left: 17px;
    width: 78px;
    height: 13px;
    color: rgb(74, 74, 74);
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.products .avatar-big-box .search-button .btn {
    width: 106px;
    height: 40px;
    border-radius: 18.5px;
    background: rgb(52, 52, 52);
    color: rgb(215, 181, 134);
}

.products .avatar-big-box .res-title {
    margin-top: 77px;
    margin-left: 423px;
    width: 328px;
    height: 46px;
    color: rgb(52, 52, 52);
    font-family: Roboto Serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: left;

}

.products .dishes-filter-section {
    margin-top: 108px;
    margin-right: 56px;
    margin-left: 946px;
    width: 250px;
    height: 36.6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.products .dishes-filter-section .dishes-filter-box {
    display: flex;
    width: 250px;
    height: 36.6px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 56px;
}

.products .dishes-filter-section .dishes-filter-box .order {
    margin-right: 20px;
}

.products .list-category-section {
    width: 100%;
    height: 1014px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -100px;
}

.products .list-category-section .menu-type {
    margin-top: -450px;
}

.products .list-category-section .menu-type .dishes-filter-box {
    margin-top: 210px;
    width: 36px;
    height: 389px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.products .list-category-section .menu-type .dishes-filter-box .order {
    transform: rotate(-90.00deg);
}

.products .product-wrapper {
    margin-left: 25px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.products .product-card {
    width: 273px;
    height: 361px;
    margin-right: 22px;
}

.products .product-wrapper .product-img {
    width: 273px;
    height: 275px;
    border-radius: 0px 50px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.products .product-card .product-sale {
    position: relative;
    width: 90px;
    height: 30px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 4px 6px 20px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 146, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.products .product-card .product-sale .product-sale-text {
    position: absolute;
    width: 64px;
    height: 18px;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 10px;
    font-weight: 600;
    line-height: 10px;
    letter-spacing: 0%;
}


.products .product-wrapper .no-data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-family: "Poppins";
    font-style: normal;



}

.products .product-img:before {
    border-radius: 0px 50px 0px 0px;
    content: "";
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.products .product-wrapper .product-card .product-img:hover {
    border-radius: 0px 50px 0px 0px;
    opacity: 1;
}

.products .product-card .product-img .shop-btn {
    width: 64px;
    height: 46px;
    left: 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.5s ease;
    background: rgba(198 0 255/ 60%);
    border: 2px solid #d7b686;
    border-radius: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    color: #f8f8ff;
    margin-top: 180px;
}

.products .product-card .product-img:hover .shop-btn {
    opacity: 1;
}


/* .products .product-card .product-img .view-botton {
    padding: 5px;
    min-width: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.5s ease;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    margin-right: -10px;
    margin-bottom: 10px;
}

.products .product-card .product-img:hover .view-botton {
    opacity: 1;
} */

.products .product-wrapper .product-card .product-desc {
    margin: 18px 42px 2px 42px;
    width: 190px;
    height: 30px;
    color: rgb(52, 52, 52);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}

.products .product-wrapper .product-card .money {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #d7b686;
    margin-bottom: 40px;
}

.products .pagination-section {
    position: relative;
    width: 100%;
    margin-top: -130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.products .family-brand {
    width: 100%;
    height: 630px;
    background: rgb(13, 21, 24);
    display: flex;
    flex-direction: column;
    margin-top: 53px;
}

.products .family-brand .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    width: 600px;
    height: 200px;
    /* Adjust height as needed */
    margin-top: 20px;
}

.products .family-brand .family-brand-text {
    color: rgb(227, 192, 141);
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
}

.family-brand-card {
    width: 250px;
    height: 329;
    margin: 20px;
    margin-bottom: 102px;
}

.family-brand-img {
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(13, 21, 24);
    margin: 0;
    padding: 0;
}


.family-brand-img-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}


.address-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    font-family: "Roboto Serif";
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 10px;
}

.address-title {
    font-size: 24px;
    color: rgb(52, 52, 52);
}

.address-area iframe {
    margin-bottom: 60px;
}

/** ChosenProduct **/

.products-page .chosen-product {
    position: relative;
    width: 100%;
    height: auto;
    background: #f8f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-page .chosen-product .product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 150px;
}

.products-page .chosen-product .chosen-product-slider {
    width: 48%;
    height: 480px;
    background: #ffffff;
    box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
        inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    overflow: hidden;
}

.products-page .chosen-product .chosen-product-slider .swiper-area {
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
    width: 100%;
    height: 1020px;
}

.products-page .chosen-product .chosen-product-slider .swiper-area .slider-image {
    width: 100%;
    height: 100%;
}

.products-page .chosen-product .chosen-product-info {
    padding: 30px 40px;
    width: 49%;
    height: 480px;
    display: flex;
    background: #ffffff;
    box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
        inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.products-page .chosen-product .chosen-product-info .info-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.products-page .chosen-product .info-box .product-name {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.products-page .chosen-product .info-box .resto-name {
    margin-top: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 15px;
    color: #979797;
}

.products-page .chosen-product .info-box .rating-box {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.products-page .chosen-product .rating-box .star-box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box .product-view {
    display: flex;
    align-items: center;
}

.products-page .chosen-product .info-box .product-desc {
    height: 112px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.products-page .chosen-product .info-box .product-price {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.products-page .chosen-product .product-price span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 22px;
    color: #000000;
}

.products-page .chosen-product .button-box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-page .chosen-product .button-box button {
    width: 230px;
    height: 44px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #f8f8ff;
}

.products-page .chosen-product .title {
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    margin-top: 40px;
}